body {
    font-family: 'Courier New', Courier, monospace !important;
    color: #6ae54f;
    background-color: black;
}
.display{
  font-family: 'Courier New', Courier, monospace !important;
}
.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid white;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
    text-align: center;
  }

  li {
    padding: 1rem;
    size: 2rem;
    list-style: none;
  }
  
  a {
    color: #6ae54f;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .pagination {
    font-size: 2rem;
  }

  .lead {
    font-family: 'Courier New', Courier, monospace, !important;
  }