{% extends "base.html" %} 

{% block content %} 
<div class="row" style="padding: 1rem;">
    <div class="col-4 text-center">
        <a href="{% url 'calendar' %}?query={{ 'minus' | urlencode}}" class="btn btn-dark" method="GET">Previous Month</a>
    </div>
    <div class="col-4 text-center">
        <a href="{% url 'calendar' %}?query={{ 'current' | urlencode}}" class="btn btn-dark" method="GET">Back to Current Month</a>
    </div>
    <div class="col-4 text-center">
        <a href="{% url 'calendar' %}?query={{ 'plus' | urlencode}}" class="btn btn-dark" method="GET">Next Month</a>
    </div>
</div>
<div>
    {{ cal| safe }}
</div>
{% endblock %} 