{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{entry.title}}</h1>
    </div>
    <div class="row">
        <p>
            This entry was created/ last edited on {{entry.date}}
        </p>
    </div>
    <div class="row">
        <p>
            {{entry.text}}
        </p>
    </div>
    <div class="row">
        <p>
            Tags: {{entry.tags}}
        </p>
    </div>
    </div>
    <div class="row">
        <p>
        {% if ss.compound < -0.2 %}
            This entry was overly negative, with a compound score of {{ss.compound}}, make sure you're looking after yourself!
        {% elif ss.compound > 0.2 %}
            This entry was relatively positive, with a compound score of {{ss.compound}}, well done for making progress!
        {% else %} 
            This entry wasn't overly positive with a compound score of {{ss.compound}}, but at least you weren't having a bad day!
        {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <a class="btn btn-dark" href="{% url 'edit' entry.pk %}">Edit Entry</a>
        </div>
        <div class="col-sm text-center">
            <a class="btn btn-dark" href="{% url 'delete' entry.id %}">Delete this entry</a>
        </div>
    </div>
    {% for item, valence in tracks_valences %}
    <div class="row">
        {{ item.name }} by {{ item.artists.0.name}} {% if valence > 0.5 %} (This song is positive) {% else %} (This song is negative) {% endif %}
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}